/*Clase para el contenedor global*/
.container{
width: 800px;
margin: auto; /*forza a centrado horizontal en la ventana*/
}
/*Observa que usamos medidas dinámicas*/
section{
    background: #F9F5C9;
    margin: 1% 0;
    padding: 0 1;
}

/* Reglas para Responsive Web Design*/

@media screen and (max-width: 768px) {

  .container, nav ul, .col2, .col3, .col5{
    width:100%;
  }
}

@media screen and (min-width: 400px) {

  .container, nav ul, .col2, .col3, .col5{
    width:100%;
  }
}

.col2{
  background-color: pink;
  width: 50%;
  margin: 1% 0;
  padding: 1%;
  box-sizing: border-box;
}
.col2{float: left;}

.col3{
  background-color: pink;
  width: 33.3%;
  margin: 1% 0;
  padding: 1%;
  box-sizing: border-box;
}
.col3{float: left;}

.col5{
  background-color: pink;
  width: 20%;
  margin: 1% 0;
  padding: 1%;
  box-sizing: border-box;
}
.col5{float: left;}

/*Clase usamos para interrupir la flotación*/
.clear{ clear: both;}

nav ul{
  margin: auto;
  width: 450px;
  background: cyan;
  padding: 0;
}
nav ul li{
  text-align: center;
  width: 33.33%;
  background: lightpink;
  list-style: none;
  padding: 10px 0;
  float: left;
}
nav ul li a{
  text-decoration: none;
  color: darkblue;
}
nav ul li:hover{
       background: #E44DFE;
}
